@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
.bg-light {
  flex-shrink: 0;
}
a, a:visited {
  color: inherit;
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

/**** Header ****/
.header {
  font-size: 14px;
}


/***** Navbar *****/
.navbar {
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  transition:all 0.2s ease;
  padding: 0 1rem;
}

.navbar-brand { 
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 100%;
  max-width: 400px;
  max-height: 60px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar-brand img { max-width: 280px; }
}

@media (max-width: 400px) {
  .navbar-brand img { max-width: 200px; }
}


/* No Fixed Header on Mobile with Toggle Menu */
@media (min-width: 1200px) {
  .bg-light {
    height: 107px;
  }
  .navbar {
    top:37px;
  }
  .affix {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    top: 0;
  }
  .affix .container {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
  }
}
@media (max-width: 1199px) {
  .fixed-top {
    position: relative;
  }
  .navbar {
    top: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.navbar a {
  border:none;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.hero-row {
  position: relative;
  min-height: 300px;
}

@media screen and (max-width: 992px) {
  .hero-row {
    background: url('/images/hero-background.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position-y: 0;
    background-position-x: 0;
  }
}

.hero-row .container {
  z-index: 2;
  position: relative;
}

.hero-row .video-container {
  z-index: 1;
  position: absolute;
  width: 100%; height: 100%;
  top: 0px; left: 0px;
  overflow: hidden;
}

.hero-row .video-container:before {
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  top: 0px; left: 0px;
  background-color: rgba(0,0,0,.5);
}

@media screen and (max-width: 992px) {
  .hero-row .video-container { display: none; }
}

.hero-row .image-container {
  z-index: 1;
  position: absolute;
  width: 100%; height: 100%;
  top: 0px; left: 0px;
  overflow: hidden;
}

.hero-row .image-container:before {
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  top: 0px; left: 0px;
  background-color: rgba(0,0,0,.5);
  background: url('/assets/hero-fitchman.jpg') center center no-repeat scroll;
}

@media screen and (max-width: 992px) {
  .hero-row .image-container { display: none; }
}

.hero-row .hero-video {
  margin-top: -162px;
  height: 100%;
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

@media screen and (max-width: 1600px) {
  .hero-row .hero-video { margin-top: -100px }
}

@media screen and (max-width: 1400px) {
  .hero-row .hero-video { margin-top: -62px }
}

@media screen and (max-width: 1200px) {
  .hero-row .hero-video { margin-top: 0px }
}

.hero-row .watch-video-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 991px) {
  .hero-row .watch-video-wrapper {
    text-align: left;
    margin: 30px 0 0 0;
  }
}

.search-imgs {
    margin-top: 25px;
}

.search-imgs img {
    width: 120px;
    vertical-align: middle;
    margin: 10px 20px 10px 0;
}

#thank-you .hero-row {
  background: url('/assets/background-about.jpg') center center no-repeat scroll;
  background-size: cover;
}
#privacy .hero-row,
#terms .hero-row {
  background: url('/assets/background-about.jpg') center center no-repeat scroll;
  
}
.hero-row h2 + p {
  margin: 2rem auto;
  max-width: 680px;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-form-label {
  font-weight: bold;
}

.get-started {
  line-height: 2em;
  font-size:1.05rem;
}

.get-started-standard {
  font-size: 1.1rem;
  line-height: 2em;
  padding-left: .35rem;
}

.text-primary-color {
  color: #511249;
}

.text-secondary-color {
  color: #1e2b6f;
}

.text-accent-color {
  color: #1e2b6f;
}

.bg-primary-color {
  background: #1e2b6f;
}

.bg-secondary-color {
  background: #000000;
}

.bg-accent-color {
  background: #511249;
}

.bg-black {
  background: #000000;
}

.bg-gray {
  background: #f5f5f5;
}

.text-black {
  color: #000000;
}
.text-black-333 {
  color: #333333;
}
.text-gray {
  color: #cccccc;
}
.text-green {
  color: #4353a4 !important;
}

.text-yellow {
  color: #c89600;
}

.btn-primary, .btn-primary:hover {
  background: #c89600 !important;
  border: 0;
  color: white !important;
  font-weight: 600;
  letter-spacing: 0.5;
  font-size: 1.2rem;
  opacity: 1 !important;
}

.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #350c2f !important;
  color: white !important;
  opacity: 1 !important;
}

.font-weight-bold-6 {
  font-weight: 600 !important;
}
.font-weight-bold-9 {
  font-weight: 900 !important;
}

h1 {
  font-size: 3.5rem;
}

#home .hero-row h1 {
  max-width: 600px;
}

@media screen and (max-width: 992px) {
  #home .hero-row h1 {
    max-width: none;
  }
}

h2, p.large-text {
  font-size: 2.25em;
  font-weight: normal;
}


.hero-row h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: normal;
  text-transform: none;
}



.hero-row span {
  color: #f1442d;
}

.hero-row .d-lg-none h3 {
  color: #eeb200;
  font-size: 1.75rem;
}
.hero-row .d-lg-none h2 {
  font-size: 3rem;
}

.row-subtitle {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
#compare-plan-features .row-subtitle {
  margin-bottom: 4rem !important;
}
#we-help-grow h3, #benefits h3,
#ads-follow-visitors h3, #ads-bing-yahoo h3 {
  font-size: 1.5rem;
}

.works-list p, li {
	font-size: 1rem;
}
.works-list p span {
    margin-right: 8px;
}

.works-list ol {
  list-style: none;
  counter-reset: li;
}

.works-list li {
  counter-increment: li;
  margin-bottom: 5px;
}

.works-list ol li::before {
  content: "." counter(li);
  color: #4353a4 !important;
  font-weight: 700!important;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.hero-row a[href^="tel:"], .hero-row a[href^="tel:"]:visited {
    color: #511249 !important;
}

a[href^="tel:"], footer a {
    border: none;
}
#get-started a[href^="tel:"]:hover, #get-started a[href^="tel:"]:focus, #get-started a[href^="tel:"]:active,
.ready-to-start a[href^="tel:"]:hover, .ready-to-start a[href^="tel:"]:focus, .ready-to-start a[href^="tel:"]:active,
a.logo {
  opacity: 1 !important;
  border: none;
}
a:hover, a:focus, a:active {
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}
a, a:visited {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.ready-to-start .btn {
    padding: 12px 20px 14px 20px;
    font-size: 1.5rem;
}

.ready-to-start p.large-text,
.ready-to-start h2 {
  letter-spacing: -1px;
  text-align: center;
  font-size: 1.95em;
}


.ready-to-start h2 span {
  display: block;
}

@media (max-width: 992px) {

  .ready-to-start h2 {
    text-align: center;
  }

  .ready-to-start h2 span {
    display: inline;
  }

  .ready-to-start .btn {
    margin-top: 10px;
  }
}

.hover-fade {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity, transform;
  transition-property: opacity, transform;
}
.hover-fade:hover, .hover-fade:active {
  opacity: 0.7;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.text-small {
  font-size: 0.75rem;
}

label {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: .2rem;
}

.price-box {
  border: 4px solid #4353a4;
  border-bottom: none;
}

.price-box .cost {
  font-weight: 700;
  font-size: 2rem;
}

.cost span.text-super {
  font-size: 1.5rem;
  vertical-align: super;
  font-weight: 700;
}

.view-plan-features-container {
  margin-bottom: 1rem;
}

.view-plan-features {
  font-weight: bold;
}

span.text-underline {
  border-bottom: 1px solid;
  border-color: inherit;
}
span.price-subtext {
  font-size: 13px;
  display: block;
  color: #999999;
  font-weight: 400;
}
span.package-pretext {
    color: #999999;
    display: block;
    font-size: 14px;
    line-height: 1rem;
    margin-bottom: -8px;
}
.price-box .ad-spend {
  font-size: 0.8rem;
}

/* Feature Table */
.inline-block {
  width: 17%;
  padding: 15px 0;
  /*border: 2px solid #cccccc;*/
  border-right: none;
  border-bottom: none;
  float: left;
  margin-top: -2px;
  position: relative;
  font-size: 16px;
  font-size: .88889rem;
}
.pricing_category {
  padding: 0;
}
.inline-block .empty, .pricing_category.inline-block{
    border-top: 2px solid #4353a4;
}

.inline-block::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0px;
  left: 0;
  right: 0;
}

.inline-block.feature-td, .pricing_category.inline-block, .trial-link.inline-block {
  border-left: 2px solid #4353a4;
}

.inline-block.feature-td:nth-child(5) {
  border-right: 2px solid #4353a4;
}

.trial-link.inline-block {
  padding-bottom: 0px;
}

.first-cell.inline-block.feature::after {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.features .inline-block::after {
    border-top: 2px solid #ccc;
}
.inline-block.feature-td.no-top-border::after {
  border-top: 0px;
}
.inline-block {
  display: inline-block;
}
.empty-row .inline-block {
  padding: 0;
  height: 10px;
}

.inline-block.empty-cell::after {
  border: 0;
}
.inline-block.first-cell {
  width: 30%;
  text-align: left;
  padding-left: 10px;
}
.inline-block.span-cell {
  width: 98.25%;
  text-align: left;
  padding-left: 10px;
  border-right: 2px solid #cccccc;
}
.empty-row .inline-block.empty {
  border: 6px solid #4353a4;
  border-bottom: 0;
  height: 40px;
  padding: 0;
}
.empty-row .inline-block.most {
  height: 36px;
  /* background-color: #4353a4; */
  color: #fff;
  padding: 3px 6px;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.inline-block.traffic {
  font-weight: 700;
  height: 50px;
}
.categories .pricing_category {
  font-weight: 700;
  font-size: 22px;
  font-size: 1.35rem;
}
.categories .pricing_category .pricing_info {
  color: inherit;
  display: block;
}
.categories .pricing_category .title {
	font-size: 26px;
}
.categories .pricing_category .cost {
  font-size: 32px;
}
.pricing_info .cost span.text-super {
  font-size: 0.8rem;
  padding-left: 0.1rem;
}
.pricing_info .ad-spend {
  font-size: 0.75rem;
  display: block;
  padding: 0 0.5rem;
}
.categories .pricing_category .pricing_info .pricing {
  display: block;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  font-size: 1rem;
}
.categories .pricing_category:nth-child(3), .categories .pricing_category:nth-child(5) {
  border: 6px solid #4353a4;
  border-top: 0;
  border-bottom: 0;
  padding: 15px 0px 0px 0px;
}
.categories .pricing_category:nth-child(5) {
    padding: 0;
    border-top: 2px solid #4353a4;
    border-right: 2px solid #4353a4;
    border-bottom: 0;
    border-left: 2px solid #4353a4;
}
.categories {
  clear: both;
}

.traffic_info .inline-block:first-child, .features .inline-block:first-child, .trial-links .inline-block:first-child {
  clear: both;
}
.inline-block.first-cell {
  width: 30%;
  text-align: left;
  padding-left: 10px;
}
.inline-block a {
  position: relative;
  z-index:10;
}
.inline-block.feature a {
  font-size: .9rem;
  color: #010101;
  border-bottom: none;
  cursor: text;
}
.inline-block.feature a:hover, .inline-block.feature a:focus, .inline-block.feature a:active {
  cursor: text;
  text-decoration: none;
  opacity: 1;
}
.traffic_info .inline-block:nth-child(4) .expert, .features .inline-block:nth-child(4) .expert, .trial-links .inline-block:nth-child(4) .expert {
  padding: 15px 0;
  border-top: 2px solid #cccccc;
}
.inline-block .expert {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}
.inline-block.feature-td {
  height: 46px;
  display: grid;
  align-items: center;
  padding: 0;
  line-height: 1.2em;
}
.trial-links .inline-block.empty-cell {
  border-top: 2px solid #cccccc;
}
.trial-links .inline-block.empty-cell a {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.trial-links .inline-block:nth-child(2), .trial-links .inline-block:nth-child(4), .trial-links .inline-block:nth-child(5) {
  border-bottom: 2px solid #4353a4;
}
.trial-links .inline-block:nth-child(2)::after, .trial-links .inline-block:nth-child(4)::after, .trial-links .inline-block:nth-child(5)::after {
  border-top: 2px solid #ccc;
}
.traffic_info .inline-block:nth-child(4), .features .inline-block:nth-child(4), .trial-links .inline-block:nth-child(4) {
  border-right: 0px;
  border-left: 0;
  padding-left: 2px;
  padding-right: 2px;
}
 .traffic_info .inline-block:nth-child(3), .features .inline-block:nth-child(3), .trial-links .inline-block:nth-child(3), .trial-links .inline-block:nth-child(5) {
  border-left: 6px solid #4353a4;
  border-right: 6px solid #4353a4;
}
.traffic_info .inline-block:nth-child(3)::after, .features .inline-block:nth-child(3)::after, .trial-links .inline-block:nth-child(3)::after,
.traffic_info .inline-block:nth-child(4)::after, .features .inline-block:nth-child(4)::after, .trial-links .inline-block:nth-child(4)::after{
  border-left: 0;
}
.categories .pricing_category:nth-child(3)::after, .categories .pricing_category:nth-child(5)::after {
  border: 0;
}
.categories .pricing_category:nth-child(4)::after {
  border-left: 0;
}
.trial-links .inline-block:nth-child(3) {
  border-bottom: 6px solid #4353a4;
}
.trial-links .inline-block:nth-child(5) {
    border-bottom: 2px solid #4353a4;
    border-left: 2px solid #4353a4;
    border-right: 2px solid #4353a4;
}
.trial-links .inline-block:nth-child(3)::after {
  border-top: 2px solid #ccc;
}
.categories .pricing_category:nth-child(4) {
  border-right: 0px;
  border-bottom: 0;
  border-left: 0;
}
.inline-block.empty.most::after {
  border: 0;
}
.mobile-collapse .btn {
  border: 2px solid #ccc;
  text-align: left;
  font-size: 1.1rem;
  border-radius: 0;
  white-space: initial;
}
.mobile-collapse .btn:focus {
  box-shadow: none;
}
.mobile-collapse .btn:active, .mobile-collapse .btn:hover {
  opacity: 1;
}

.feature-list{
  border: 4px solid #4353a4;
  border-top: none;
  border-bottom: none;
  }

.feature-list h5 {
  border-top: 2px solid #ccc;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 0;
}

.feature-list .icon-check {
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

.feature-list-sub {
  /*margin-left: 2.2rem;*/
}

.feature-list-end {
  border-bottom: 4px solid #4353a4;
}

.carousel-inner {
  max-width: 950px;
  margin: 0 auto;
}
.carousel-control-next, .carousel-control-prev {
  border: none;
}
.carousel-item span {
  font-size: 1.35rem;
}
.carousel-item h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}


/**** Credentials Row ****/
#credentials .cred-images img {
  width: 120px;
  vertical-align: middle;
  margin: 10px 20px;
}


/**** Footer ****/
footer {
  flex-shrink: 0;
  bottom: 0;
  width: 100%;
}
footer .text-gray a {
  color: #cccccc;
}
footer .text-gray a:hover {
  color: #cccccc !important;
}

/* Mobile Styles */

@media (max-width: 767.98px) {
  #home .hero-row {
    background-position-x: -250px;
  }

  .navbar-brand {
    max-width: 78%;
  }
  
  .carousel-item h3 {
    font-size: 1.25rem;
  }
  .carousel-inner {
    max-width: 300px !important;
  }

}



/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {

  #home .hero-row h1 {
    font-size: 2.5rem;
    font-weight: 600 !important;
    text-align: center;
  }

  #home .hero-row h2 {
    font-size: 1.75rem;
    text-align: center;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .text-xs-center {
    text-align: center !important;
  }
  .search-imgs img {
    width: 110px;
    vertical-align: middle;
    margin: 0 20px 30px 0;
  }
  .price-box h3 {
    font-size: 3rem;
  }
  .price-box .cost {
    font-size: 3rem;
  }
  span.price-subtext {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .price-box .ad-spend {
    font-size: 1rem;
  }
  .price-box .btn-lg {
    font-size: 1.5rem;
    padding: 1.25rem 2rem;
    margin-top: 0.8rem;
  }
  .row-subtitle {
    font-size: 1rem;
  }
  .media img {
    width: 100px;
    height: 100%;
    margin-right: 0 !important;
  }
  #benefits {
    background-color: initial;
  }
  #benefits h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: -0.75rem;
  }
  #we-help-grow h3 {
    font-size: 1.25rem;
    margin-top: 0.5rem !important;
  }
  #faq {
    background-color: #ffffff !important;
  }
  .no-collapse-lg {
    padding: .375rem .75rem;
    border: 2px solid #ccc;
    border-top: none;
  }
  
  .carousel-inner {
    max-width: 550px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collapse.no-collapse-lg {
    display: block;
    height: auto !important;
    visibility: visible;
  }

  .categories .pricing_category {
    height: 170px !important;
  }
}

@media (max-width: 1199.98px) {
  .categories .pricing_category {
    height: 170px;
  }
  .inline-block.feature a {
    font-size: 0.7rem;
  }
  .search-imgs img {
  	width: 98px;
  }
}


/* Video Testimonials Row */
.video-img-double img {
	width: 100%;
}
.video-img-double img:first-of-type{
    margin-bottom:30px;
}

#img-vid1{
    width:100%;
}
.btn-play{
    cursor:pointer;
    background-image:url('../images/icon-play.png');
    background-size:40px 40px;
    background-position:center;
    background-repeat: no-repeat;
    position:absolute;
    top: 50%;
    left:50%;
    margin-left:-60px;
    margin-top:-40px;
    width:120px;
    height: 80px;
    background-color: rgba(0,159,0,.8);
}
.btn-play:hover{
    background-color: #939393;
}
.img-double .btn-play{
    background-size:30px 30px;
    margin-left:-40px;
    margin-top:-35px;
    width:80px;
    height: 54px;
}
.img-double {
    position:relative;
}
@media only screen and (max-width: 992px) {
	.video-img-double img:first-of-type {
    	margin-bottom: 24px;
	}
	.mobile-phone {
    	margin: 0 auto;
	}
	
}
@media only screen and (max-width: 767px) {
	#img-vid1 {
    	max-width: 360px;
	}
	.btn-play:first-of-type {
    	background-size: 30px 30px;
    	margin-left: -40px;
    	margin-top: -27px;
    	width: 80px;
    	height: 54px;
	}
	.video-img-double {
    	margin-top: 30px;
	}
	.video-img-double img:first-of-type {
    	margin-bottom: 30px;
	}
	.video-img-double img {
		max-width: 100%;
		width: initial;
	}

}



#mobile-bar .btn {
    color: #000000 !important;
    padding: 0.25rem 1rem;
    font-size: 1rem;
}
#mobile-bar .btn span {
    display: block;
    font-size: 1.5rem;
}

.feature-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}

.feature.inline-block {
  height: 46px;
  align-items: center;
  display: grid;
  padding-top: 0;
  padding-bottom: 0;
}

.pt-2em {
  padding-top: 2em;
}

.call {
  font-size: 13px;
  font-weight: bold;
  line-height: 3em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.call-mobile {
  font-size: 22px;
  margin-top: 1em;
  line-height: 1em;
}

.most-popular-icon {
  width: 177px !important;
  float: left;
  vertical-align: bottom !important;
  margin-top: 4px;
  padding-bottom: 0px;
}

.most-popular-icon-mobile {
  width: 100% !important;
  float: left;
  vertical-align: bottom !important;
  margin-top: 15px;
  margin-left: -48px;
  padding-bottom: 0px;
}

.most-popular-continer {
  height: 50px !important;
}

@media (min-width: 768px) {
  .most-popular-continer {
    height: 90px !important;
  }
}

.price-box.standard {
  background-image: url(/images/most-popular-icon.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 24%;
  background-size: 100%;
}

.infolink:before
{
    content: '?';
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    line-height: 1ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    color: #ffffff;
    background: #4353a4;
    border: 5px solid #4353a4;
    text-decoration: none;
    padding-right: 6px;
    cursor: pointer;
}

a.infolink {
  border-bottom: 0px !important;
}

.infolink:hover:before
{
    color: #ffffff;
    background: #4353a4;
    border-color: #4353a4;
    text-decoration: none;
}

@media (max-width: 1199px) {
  .most-popular-icon {
    width: 146px !important;
  }
  .get-started {
    font-size: 13px;
  }
  .get-started-standard {
    font-size: 14px;
  }
  .categories .pricing_category {
    height: 170px !important;
  }
  .categories .pricing_category .title {
    font-size: 26px;
  }
  .inline-block {
    font-size: .81119rem;
  }
  .break-medium {
	display: none;  
  }
}

@media (min-width: 767px) {
  .subhero {
    margin-right: 25%;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 992px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.navbar-collapse {
  background-color: #f8f9fa!important;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition:all 0.2s ease;
  }
}

#benefits h4 {
  line-height: 120%;
  max-width: 200px;
  margin: 14px auto 6px auto;
}


#benefits .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 7px solid #511249;
}

@media (max-width: 1200px) {
  #credentials .container {
    max-width: 90% !important;
  }
}

#credentials .credential-icons > div {
  width: 16.66%;
  padding: 0 8px;
}

@media (max-width: 1200px) {
  #credentials .credential-icons > div {
    width: 33.33%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  #credentials .credential-icons > div { width: 50%;};
}

#credentials .credential-icons .icon {
  width: 110px; height: 110px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#credentials .credential-icons .icon img {
  width: 100%;
}

#credentials .credential-icons h5 {
  color: #0060a0;
  font-size: 1rem;
  letter-spacing: -.2px;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 150px;
  margin: 10px auto 0 auto;
}

@media (max-width: 992px) {
  #credentials .credential-icons h5 { 
    font-size: 1rem;
  }
}

#contactform.was-validated .form-check-input:valid~.form-check-label {
  color: white;
}

.grecaptcha-badge {
  z-index: 9999;
}

.nav-link:focus {
  color: #000 !important;
}

#about {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url(/assets/background-about.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#about li {
  margin-bottom: 10px;
}

#cta-1 h2 {
  text-align: left;
}

@media screen and (max-width: 992px) {
  #cta-1 h2 { text-align: center }
}

#testimonials .row-subtitle {
  max-width: 750px;
  margin: 0 auto;
}

footer .made-in-usa img {
  width: 100px;
  margin-top: -20px;
}

@media screen and (max-width: 992px) {
  footer .made-in-usa {
    order: -1;
    padding-bottom: 6px;
  }
}

#benefits .row:nth-of-type(2) > div {
  padding-bottom: 30px;
}

.thank-you-image {
  width: 300px;
  height: 300px;
  background-image: url('/assets/background-testimonial.jpg');
  background-size: cover;
  background-position: center center;
}

.form-control {
  border: 2px solid transparent;
  margin: -1px 0;
}

.form-control.invalid {
  border: 2px solid red;
}

.icon {
  border: none !important;
}